.elementor-kit-13{--e-global-color-primary:#7209B7;--e-global-color-secondary:#1D3557;--e-global-color-text:#3D405B;--e-global-color-accent:#F72585;--e-global-typography-primary-font-family:"Heycomic";--e-global-typography-primary-font-size:16px;--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Mixcomic";--e-global-typography-secondary-font-size:1px;--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Badcomic";--e-global-typography-text-font-weight:400;--e-global-typography-text-letter-spacing:4px;--e-global-typography-accent-font-family:"Jreeng";--e-global-typography-accent-font-weight:500;color:#3A0CA3;font-family:"Badcomic", Sans-serif;background-color:#333333;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1500px;}.e-con{--container-max-width:1500px;}.elementor-widget:not(:last-child){margin-bottom:20px;}.elementor-element{--widgets-spacing:20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-13 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1500px;}.e-con{--container-max-width:1500px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1500px;}.e-con{--container-max-width:1500px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Heycomic';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('./../../hey-comic.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Mixcomic';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('./../../mixcomic.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Badcomic';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('./../../badcomic-regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Jreeng';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('./../../2023/03/Jreeng.ttf') format('truetype');
}
/* End Custom Fonts CSS */